@model Smartuser.Models.Produto

@{
    ViewData["Title"] = "Excluir Produto";
}

<h1>@ViewData["Title"]</h1>

<h3>Tem certeza que deseja excluir este produto?</h3>
<div>
    <h4>@Model.Descricao</h4>
    <p>Grupo: @Model.GrupoProduto?.Nome</p>
    <p>Quantidade: @Model.QuantidadeEstoque</p>
    <p>Preço: @Model.Preco.ToString("C")</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ID" />
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href='@Url.Action("ListaDeProdutos", "Produto")' class="btn btn-secondary">Cancelar</a>
</form>
