@model IEnumerable<Smartuser.Models.Fornecedor>

<table class="table table-striped table-bordered table-hover minha-tabela">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Empresa</th>
            <th>Grupo</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Data Criação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fornecedor in Model)
        {
            <tr>
                <td>@fornecedor.ID</td>
                <td>@fornecedor.Empresa</td>
                <td>@fornecedor.GrupoFornecedor?.Nome</td>
                <td>@fornecedor.Telefone</td>
                <td>@fornecedor.Email</td>
                <td>@fornecedor.DataCriacao.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a href="@Url.Action("Editar", "Fornecedor", new { id = fornecedor.ID })" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i> Editar
                    </a>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalDeletar"
                            onclick="setFornecedorIdDeletar(@fornecedor.ID)">
                        <i class="bi bi-trash"></i> Excluir
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
